<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/GameGengo/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/gamegengo"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/gamegengo/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.patreon.com/GameGengo"><i class="fab fa-patreon"></i></a>
    <a href="https://www.youtube.com/channel/UCsXJuG5tSNRr9IwfjMbNvqQ"><i class="fab fa-youtube"></i></a>
  </div>
  <div class="footer-copyright">
  Game Gengo 2021
  </div>
</div>
