<nav class="navbar navbar-expand-lg navbar-dark">
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "https://yt3.ggpht.com/ytc/AAUvwngdbEhJoOjRKMztc0VR5SiHJQ1Kbx3kRoEibTBV=s900-c-k-c0x00ffffff-no-rj", id: "logo" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-link">
        <%= link_to "Home", series_index_path %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Series
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% Series.all.each do |series| %>
          <%= link_to series.name, series_path(series), class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Database
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% Series.all.each do |series| %>
          <%= link_to series.name, database_series_path(series), class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a href="https://www.patreon.com/GameGengo"><button class="btn btn-sm btn-outline-light" type="button">Join Patreon</button></a>
      </li>
    </ul>

  </div>
</nav>

