<h1 class="m-3 text-center"><%= @episode.name %></h1>

<div style="justify-content: center; display: flex;">

  <% video_id = "https://www.youtube.com/embed/#{@episode.youtube_id}" %>

  <iframe width="720" height="405" src=<%= video_id %> frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="nav-links">
    <% if @episode.id > 1 %>
      <%= link_to series_chapter_episode_path(@series, @chapter, @episode.previous) do %>
        <i class="fas fa-arrow-left"></i> Previous
      <% end %>
    <% else %>
      <span style="opacity: 0"><i class="fas fa-arrow-left"></i> Previous</span>
    <% end %>

    <p class="vocab"><%= @episode.words.size %> words</p>

    <% if @episode.id < @episodes.size %>
      <%= link_to series_chapter_episode_path(@series, @chapter, @episode.next) do %>
        Next <i class="fas fa-arrow-right"></i>
      <% end %>
    <% else %>
      <span style="opacity: 0">Next <i class="fas fa-arrow-right"></i></span>
    <% end %>
</div>


<div class="scrollable">
  <table>
    <thead>
      <tr>
        <th style="width: 15%;position: -webkit-sticky;position: sticky;top: 0; background: #00252d">Word</th>
        <th style="width: 15%;position: -webkit-sticky;position: sticky;top: 0; background: #00252d">Reading</th>
        <th style="width: 55%;position: -webkit-sticky;position: sticky;top: 0; background: #00252d">Definition</th>
        <th style="width: 15%;position: -webkit-sticky;position: sticky;top: 0; background: #00252d">JLPT level</th>
      </tr>
    </thead>

    <tbody>
      <% @episode.words.each do |word| %>
        <tr>
          <td><%= word.word %></td>
          <td><%= word.reading %></td>
          <td><%= word.definition %></td>
          <td><%= word.level %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
