<h1 class="m-3 text-center"><%= @chapter.name %></h1>

<div class="cards">
  <% @chapter.episodes.each do |episode| %>
    <% image = "https://img.youtube.com/vi/#{episode.youtube_id}/maxresdefault.jpg" %>
    <%= link_to series_chapter_episode_path(@series, @chapter, episode) do %>
     <div class="card-episode" style="background-image: url(<%= image %>)">
</div>
    <% end %>
  <% end %>
</div>
