.btn {
  vertical-align: inherit;
}

.btn-sm {
  margin-top: 4px;
}

.vocab {
  font-weight: light;
  border: 1px solid white;
  border-radius: 2px;
  padding: 2px 6px;
  opacity: 0.9;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #fff;
  background-color: transparent;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #00252d;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
