.footer {
  background: #0a1a20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #b4d2ca;
  margin-top: 32px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #b4d2ca;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: white;
}
.footer .fa-heart {
  color: #D23333;
}
