// .navbar-game-gengo {
//   justify-content: space-between;
//   color: white;
// }

.navbar-brand img {
  width: 50px;
  border-radius: 50%;

}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 8px;
}

.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
justify-content: flex-end;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 0.5rem;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-menu {
  background-color: #00252d;
  border: none;
}
