table.center {
    width:70%;
    margin-left:15%;
    margin-right:15%;
  }
table {
  border-collapse: collapse;
}

td, th {
  // border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

td a {
  display: block;
}

.scrollable {
  height: 70vh;
  width: 720px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
  display: flex;
  justify-content: center;
}
