<h3 class="m-3 text-center">Vocabulary - <%= @total_series_words %> words</h3>

<%= form_tag words_path, method: :get do %>
<%= text_field_tag :query,
params[:query],
class: "form-control",
  placeholder: "Search by word or JLPT level"
  %>
  <%= submit_tag "Search", class: "btn btn-light" %>
  <% end %>

  <table class="center">
    <thead>
      <tr>
        <th style="width: 100px;">Chapter</th>
        <th style="width: 100px;">Episode</th>
        <th style="width: 100px;">Word</th>
        <th style="width: 100px;">Reading</th>
        <th style="width: 300px;">Definition</th>
        <th style="width: 100px;">JLPT level</th>
      </tr>
    </thead>

    <tbody>
      <% @database.each do |word| %>
      <tr>
        <%= link_to series_chapter_episode_path(word.episode.chapter.series, word.episode.chapter, word.episode) do  %>
        <td><%= link_to word.episode.chapter.id, series_chapter_path(word.episode.chapter.series, word.episode.chapter)  %></td>
        <td><%= link_to word.episode.id, series_chapter_episode_path(word.episode.chapter.series, word.episode.chapter, word.episode)  %></td>
        <td><%= link_to word.word, series_chapter_episode_path(word.episode.chapter.series, word.episode.chapter, word.episode)  %></td>
        <% if word.reading.present? %>
        <td><%= link_to word.reading, series_chapter_episode_path(word.episode.chapter.series, word.episode.chapter, word.episode)  %></td>
        <% else %>
        <td><%= word.reading %> </td>
        <% end %>
        <td><%= link_to word.definition, series_chapter_episode_path(word.episode.chapter.series, word.episode.chapter, word.episode)  %></td>
        <td><%= link_to word.level, series_chapter_episode_path(word.episode.chapter.series, word.episode.chapter, word.episode)  %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>



  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <% if @page > 0 %>
          <%= link_to "Previous page", database_series_path(page: @page - 1), class: 'page-link' %>
        <% end %>
      </li>
      <li class="page-item">
        <%= link_to "Next page", database_series_path(page: @page + 1), class: 'page-link' %>
      </li>
    </ul>
  </nav>
