<h1 class="m-3 text-center">Choose Your Series</h1>


<% @series.each do |series| %>
  <%= link_to series_path(series) do %>
    <div class="card-series" style="background-image: url('https://ffvii-remake.square-enix-games.com/share-images/SEA_END_fb_share_img_1200x630.jpg')">
    </div>
  <% end %>
<% end %>
