<h1 class="m-3 text-center"><%= @series.name %></h1>

<% @chapters.each do |chapter| %>
  <%= link_to series_chapter_path(@series, chapter) do %>
    <div class="card-chapter" style="background-image: url(<%= chapter.image_url %>)">
      <%= chapter.name %>
    </div>
  <% end %>
<% end %>
