<!DOCTYPE html>
<html>
<head>
  <title>GameGengo</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
</head>

<body>

  <div class="d-flex flex-column min-vh-100">
    <%= render 'shared/navbar' %>
    <div class="container flex-grow-1">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </div>
</body>
</html>

